---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<p><code>*</code> and <code>+</code> denote co-first author and corresponding author, respectively.</p>

{% for section in site.data.publications.sections %}
  <h2>{{ section.title }}</h2>
  <ol>
  {% for paper in section.items %}
    <li>
      {{ paper.authors | markdownify | remove: '<p>' | remove: '</p>' }}.
      <strong>{{ paper.title }}</strong>
      {{ paper.venue }}{% if paper.note %} ({{ paper.note }}){% endif %}.
    </li>
  {% endfor %}
  </ol>
{% endfor %}

